body {
  margin: 0;
  padding: 0;
}

#mapContainer {
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.main {
  flex-grow: 1;
}

.side-panel-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;

  color: #ffffff;
  background: #009578;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
}

.side-panel-toggle:hover {
  background: #007960;
}

.sp-icon-close {
  position: absolute;
  display: none !important;
}

.side-panel {
  margin-left: 40px;
  position: absolute;
  display: none;
  width: 200px;
  flex-shrink: 0;
  padding: 20px;
  color: #ffffff;
  background: #009578;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
  display: initial;
}

.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}
