body {

}

#infoContainer {
  margin-top: 10px;
  position: absolute;
  display: flex;
}

#mapContainer {
  display: flex;
  height: 98.5vh;
}

container {
  margin-left: 5%;
}

.center {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}